@media only screen and (min-width: 1595px) {
  header .img_ava {
    left: 740px;
  }
  header .star_1 {
    left: 706px;
  }
  header .star_2 {
    left: 1335px;
    top: 922px;
  }
  header .gear {
    left: 1430px;
  }
}
